# Reference files
# vim temporary files
*~
*.sw?

# system files
.DS_Store

go.sum

# IDE files
.idea
.vscode
/go_build_main_go

/config.yaml
/mastodon.yaml
/weatherbot.yaml
/build*
/tmp/
/dist/
/a.png
/Makefile.gen
/workConfig/
/lib/font/
/documentation/
/query.txt
