# Reference files
# vim temporary files
*~
*.sw?

# system files
.DS_Store

go.sum

# IDE files
.idea
.vscode
/go_build_main_go

/config.yaml
/mastodon.yaml
/weatherbot.yaml
/build*
/tmp/
/dist/
/a.png
/Makefile.gen
/workConfig/
/lib/font/
/documentation/install.txt
/query.txt
/syncdev.sh
/docs/book.aux
/docs/book.bbl
/docs/book.bcf
/docs/book.blg
/docs/book.glo
/docs/book.idx
/docs/book.ilg
/docs/book.ind
/docs/book.lof
/docs/book.log
/docs/book.lol
/docs/book.lot
/docs/book.mw
/docs/book.nlo
/docs/book.nls
/docs/book.pdf
/docs/book.run.xml
/docs/book.toc
/docs/book.xdy
