<div id="menu">
    <ul>
        {{- range $menu := getMenu -}}
        {{- if eq $.navSection $menu.Section -}}
        <li class="current">
            <a href="{{$menu.Link}}">{{$menu.Label}}</a>
            {{- if len $menu.Entries -}}
            <ul class="submenu">
                {{- range $subMenu := $menu.Entries -}}
                {{- if eq $.navLink $subMenu.Section -}}
                <li class="current"><a href="{{$subMenu.Link}}">{{$subMenu.Label}}</a></li>
                {{- else -}}
                <li><a href="{{$subMenu.Link}}">{{$subMenu.Label}}</a></li>
                {{- end -}}
                {{- end -}}
            </ul>
            {{- end -}}
        </li>
        {{- else -}}
        <li><a href="{{$menu.Link}}">{{$menu.Label}}</a></li>
        {{- end -}}
        {{- end -}}
    </ul>
</div>