{{- /* simple gauge */ -}}
{{- template "componentStart" . -}}
{{- $min := defVal .Min 0 -}}
{{- $max := defVal .Max 100 -}}
{{- $ticks := defVal .Ticks 10 -}}
{{- $axis := genAxis $min $max $ticks 180 -}}
<svg viewBox="0 0 250 250" role="img"
     id="{{$.ID}}.svg"
     {{- range $i,$m := $.Metric}} data-metric{{$i}}="{{$m.Value.Float}}"{{end}}
     data-min="{{$min}}"
     data-max="{{$max}}"
     data-delta="{{$axis.Delta}}">
    <defs>
        <g id="h0" stroke="black" stroke-width="3px">
            <path d="M0,0 l0,-80"/>
        </g>
        <g id="h1" stroke="red" stroke-width="3px">
            <path d="M0,0 l0,-70"/>
        </g>
        <g id="h2" stroke="blue" stroke-width="2px">
            <path d="M0 0 l0 -60"/>
        </g>
        <g id="h3" stroke="green" stroke-width="1px">
            <path d="M0 0 l0 -50"/>
        </g>
    </defs>
    <g transform="translate(145,145)" dominant-baseline="middle" text-anchor="middle">
        <path d="M-90,0 a1,1 0 0,1 180,0" fill="none" stroke="black" stroke-width="3px"/>
        {{- range $a := $axis.Ticks -}}
        <g transform="rotate({{subtract $a.Angle 90}})">
            <path d="M0,-90 l0,10" fill="none" stroke="black" stroke-width="2px"/>
            <text y="-100">{{$a.Label}}</text>
        </g>
        {{- end -}}
        {{- range $i,$m := $.Metric -}}
            {{- if eq $i 0 -}}
                <text id="{{$.ID}}.txt{{$i}}" y="35" font-size="150%">{{$m.String}}</text>
            {{- end -}}
        {{- end -}}
        {{- with $.Label -}}
        <text y="55" font-size="150%">{{$.Label}}</text>
        {{- end -}}
        {{- range $i,$m := $.Metric -}}
        <g id="{{$.ID}}.ptr{{$i}}" transform="rotate({{subtract (multiply (subtract (ensureWithin $m.Value.Float $min $max) $min) $axis.Delta) 90}})">
            {{- /* min 3 here so we limit the href to h0 h1 h2 h3 defined in defs */ -}}
            <use xlink:href="#h{{min 3 $i}}"/>
        </g>
        {{- end -}}
        <circle r="10" fill="black"/>
    </g>
</svg>
{{- template "componentEnd" . -}}
