{{- /* simple compass usually used to show wind direction */ -}}
{{- template "componentStart" . -}}
<svg viewBox="0 0 250 250" role="img" xmlns:xlink="http://www.w3.org/1999/xlink"
     id="{{$.ID}}.svg">
    <g transform="translate(125,125)" stroke-width="3px">
        <circle r="100" fill="none" stroke="black"/>
        {{- range $d := sequence 0 360 22.5 -}}
        <g transform="rotate({{$d}})" fill="none" stroke="black">
            <path d="M-85 0 l-15 0"/>
        </g>
        {{- end -}}
        <g dominant-baseline="middle" text-anchor="middle">
            {{- range $i, $l := array "N" "NE" "E" "SE" "S" "SW" "W" "NW" -}}
            <g transform="rotate({{multiply $i 45}})">
                <text y="-110">{{$l}}</text>
            </g>
            {{- end -}}
            {{- with $.Label -}}
                <text y="-45" font-size="150%">{{.}}</text>
            {{- end -}}
        </g>

        {{- with $.Result -}}
        <g stroke="none" fill="black">
            {{- range $r := .WindRose -}}
            {{- range $w := windRoseBreakdown 90 10 $r -}}
            <path class="wind-rose-step{{$w.Entry}}" d="M0,0L{{$w.C1.X}},{{$w.C1.Y}}L{{$w.C2.X}},{{$w.C2.Y}}z"/>
            {{- end -}}
            {{- end -}}
        </g>
        {{- end -}}

        <circle r="5" class="wind-rose-step0"/>
    </g>
</svg>
{{- template "componentEnd" . -}}
