{{- define "statusEndpointsHeader" -}}
<tr class="heading">
    <td class="alignLeft" colspan="2"><strong>{{.}}</strong></td>
</tr>
<tr><th>ID</th><th>Name</th><th>Endpoint</th><th>Method</th><th>Protocol</th></tr>
{{- end -}}

{{- template "layout/default-start.html" $ -}}

<h1>Endpoints</h1>

<table class="table unitTable">
    <tbody>
    {{- range $category := $.endpoints -}}
    {{- template "statusEndpointsHeader" $category.Category -}}
    {{- range $entry := $category.Endpoints -}}
    <tr>
        <td>{{$entry.Id}}</td>
        <td>{{$entry.Name}}</td>
        <td>{{$entry.Endpoint}}</td>
        <td>{{$entry.Method}}</td>
        <td>{{$entry.Protocol}}</td>
    </tr>
    {{- end -}}
    {{- end -}}
    </tbody>
</table>

{{- template "layout/default-end.html" $ -}}
