{{- template "layout/default-start.html" $ -}}

<h1>Available Unit Transforms</h1>

<p>
    The following table lists which units you can convert between:
</p>

<table class="table unitTable">
    <thead>
    </thead>
    <tbody>
    {{- range $group := $.groups -}}
    <tr class="heading">
        <td class="alignLeft" colspan="2"><strong>{{$group.Name}}</strong></td>
    </tr>
    <tr>
        <th class="alignLeft">From</th>
        <th class="alignLeft">To</th>
    </tr>
    {{- range $from := $group.Units -}}
    <tr>
        <td class="alignLeft">{{$from.ID}}</td>
        {{- range $to := index $.transforms $from.ID -}}
        <td>{{$to}}</td>
        {{- end -}}
    </tr>
    {{- end -}}
    {{- end -}}
    </tbody>
</table>

{{- template "layout/default-end.html" $ -}}
