{{- define "statusUnitsLegend" -}}
<tr class="heading">
    <td class="alignLeft" colspan="2"><strong>{{.}}</strong></td>
</tr>
<tr>
    <th class="alignLeft">ID</th>
    <th class="alignLeft">Name</th>
    <th class="alignLeft">Unit</th>
    <th class="alignCenter">Min</th>
    <th class="alignCenter">Max</th>
</tr>
{{- end -}}

{{- template "layout/default-start.html" $ -}}

<h1>Available Units</h1>

<table class="table unitTable">
    <thead>
    </thead>
    <tbody>
    {{- range $cat := $.cats -}}
    {{- template "statusUnitsLegend" $cat -}}
    {{- range $unit := index $.units $cat -}}
    <tr>
        <td class="alignLeft">{{$unit.ID}}</td>
        <td class="alignLeft">{{$unit.Name}}</td>
        <td class="alignLeft">{{$unit.Unit}}</td>
        <td class="alignDecimal">{{if $unit.HasMin}}{{$unit.Min}}{{else}}-∞{{end}}</td>
        <td class="alignDecimal">{{if $unit.HasMax}}{{$unit.Max}}{{else}}∞{{end}}</td>
    </tr>
    {{- end -}}
    {{- end -}}
    </tbody>
</table>

{{- template "layout/default-end.html" $ -}}
