.dash-title-box {
    display: block;
    /*border: #3c5a86 1px dotted;*/
    border: 1px solid lightgrey;
    width: fit-content;
    height: fit-content;
    margin: .125em;
}

.dash-title-title {
    position: relative;
    top: -0.6em;
    margin-left: 1em;
    display: inline;
    background-color: white;
    padding-left: .125em;
    padding-right: .125em;
}

.dash-title-box > div:nth-child(2) {
    padding-left: 0.25em;
    padding-right: 0.25em;
    padding-bottom: 0.25em;
}

.dashboard-outer {
    margin-top: 0.5em;
    padding-top: 0.5em;
}

.dash-dashboard {
    display: block;
}

.dash-row {
    display: block;
}

.dash-container {
    display: inline-block;
}

.dash-row,
.dash-container {
    width: fit-content;
    height: fit-content;
}

.dash-col,
.dash-container,
.dash-row,
.dash-title-box {
    vertical-align: top;
}

.dash-col {
    display: inline-block;
    width: 10em;
    max-width: 10em;
    float: left;
}
.dash-col > .dash-container,
.dash-col > .dash-title-box {
    display: block;
}

.dash-row > .dash-container,
.dash-row > .dash-title-box {
    display: inline-block;
}

.dash-barometer,
.dash-compass,
.dash-gauge,
.dash-inclinometer,
.dash-multivalue,
.dash-rain-gauge,
.dash-text,
.dash-value,
.dash-wind-rose,
.dash-wind-rose-line,
.dash-wind-rose-simple {
    display: inline-block;
    font-family: "Lucida Sans", Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 1em;
    margin: 1px;
    padding: 1px;
}

.dash-multivalue,
.dash-value {
    border: 1px solid black;
    min-height: 1em;
    vertical-align: top;
}
.dash-value {
    width: 10em;
}

.dash-multivalue .label, .dash-multivalue .metric, .dash-multivalue .metric-time,
.dash-value .label, .dash-value .metric {
    display: inline-block;
    padding: 0;
}

.dash-multivalue .metric,
.dash-value .label, .dash-value .metric {
    width: 5em;
}

.dash-multivalue .label {
    width: 15em;
}

.dash-multivalue .metric-time {
    width: 10em;
}

.dash-multivalue .label,
.dash-value .label {
    font-weight: bold;
    vertical-align: top;
}

.dash-value .label {
    text-align: right;
}

.dash-multivalue .metric,
.dash-multivalue .metric-time,
.dash-value .metric {
    text-align: right;
    font-weight: normal;
    vertical-align: top;
}


.dash-multivalue .label span,
.dash-multivalue .metric span,
.dash-multivalue .metric-time span,
.dash-value .label span,
.dash-value .metric span {
    display: block;
    font-size: 80%;
}

.dash-rain-gauge {
    width: 5em;
    padding-left: 0;
    margin-left: 0;
}

.dash-barometer,
.dash-compass,
.dash-gauge,
.dash-inclinometer,
.dash-wind-rose,
.dash-wind-rose-line,
.dash-wind-rose-simple {
    width: 10em;
}

/* customisation styles */
.col-bordered {
    border: 1px solid black;
    padding: 1px;
    width: 10.2em;
    max-width: 10.2em;
}
.col-bordered .dash-value {
    border: 0;
    margin-right: 0;
    margin-left: 0;
}
.col-bordered .dash-value:not(:last-child) {
    border-bottom: 1px solid black;
}

.wind-rose-step0 {fill:darkcyan}
.wind-rose-step1 {fill:blue}
.wind-rose-step2 {fill:green}
.wind-rose-step3 {fill:lightgreen}
.wind-rose-step4 {fill:goldenrod}
.wind-rose-step5 {fill:darkred}
.wind-rose-step6 {fill:red}

.dash-barometer,
.dash-gauge,
.dash-inclinometer {
    .dash-h0 {
        stroke: black;
        stroke-width: 3px;
    }
    .dash-h1 {
        stroke: red;
        stroke-width: 3px;
    }
    .dash-h2 {
        stroke: blue;
        stroke-width: 2px;
    }
    .dash-h3 {
        stroke: green;
        stroke-width: 1px;
    }
    .dash-h4 {
        stroke: black;
        stroke-width: 1px;
    }
}

.dash-inclinometer-horizon {
    stroke-width: 1px;
    stroke: #888;
    fill: none;
}
