.dash-title-box {
    display: block;
    /*border: #3c5a86 1px dotted;*/
    border: 1px solid lightgrey;
    width: fit-content;
    height: fit-content;
    margin: .125em;
}

.dash-title-title {
    position: relative;
    top: -0.6em;
    margin-left: 1em;
    display: inline;
    background-color: white;
    padding-left: .125em;
    padding-right: .125em;
}

.dash-title-box > div:nth-child(2) {
    padding-left: 0.25em;
    padding-right: 0.25em;
    padding-bottom: 0.25em;
}

.dashboard-outer {
    margin-top: 0.5em;
    padding-top: 0.5em;
}

.dash-dashboard {
    display: block;
}

.dash-row,
.dash-container {
    display: block;
    width: fit-content;
    height: fit-content;
}

.dash-col,
.dash-container,
.dash-row,
.dash-title-box {
    vertical-align: top;
    float: left;
}

.dash-col {
    display: inline-block;
    width: 10em;
    max-width: 10em;
}
.dash-col > .dash-container,
.dash-col > .dash-title-box {
    display: block;
}

.dash-row > .dash-container,
.dash-row > .dash-title-box {
    display: inline-block;
}

.dash-text,
.dash-gauge,
.dash-barometer,
.dash-compass,
.dash-value,
.dash-rain-gauge {
    display: inline-block;
    font-family: "Lucida Sans", Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 1em;
    margin: 1px;
    padding: 1px;
}

.dash-value {
    width: 10em;
    border: 1px solid black;
    min-height: 1em;
    vertical-align: top;
}

.dash-value .label, .dash-value .metric {
    display: inline-block;
    padding: 0;
    width: 5em;
}

.dash-value .label {
    text-align: right;
    font-weight: bold;
    vertical-align: top;
}

.dash-value .metric {
    text-align: right;
    font-weight: normal;
    vertical-align: top;
}

.dash-value .label span,
.dash-value .metric span {
    display: block;
    font-size: 80%;
}

.dash-rain-gauge {
    width: 5em;
}

.dash-barometer,
.dash-gauge,
.dash-compass {
    width: 10em;
}
